<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background-color: #E0FFFF;}
        div{background-color: #98FB98;}
    </style>
    <meta charset="UTF-8">
    <title>Прогнозирование свойств материалов</title>
</head>

<body>
    <h3>Прогнозирование свойств материалов</h3>

    <form action="" method="post">
        <p>
            <label>Соотношение матрица-наполнитель:</label>
            <input type="text" name="matrix">
        </p>

        <p>
            <label>Плотность, кг/м3:</label>
            <input type="text" name="dens">
        </p>

        <p>
            <label>Модуль упругости, ГПа:</label>
            <input type="text" name="mod_up">
        </p>

        <p>
            <label>Количество отвердителя, м.%:</label>
            <input type="text" name="col_otverd">
        </p>
        <p>
            <label>Содержание эпоксидных групп,%_2:</label>
            <input type="text" name="epox_gr">
        </p>
        <p>
            <label>Температура вспышки, С_2:</label>
            <input type="text" name="t_svp">
        </p>

        <p>
            <label>Поверхностная плотность, г/м2:</label>
            <input type="text" name="poverh_plot">
        </p>

        <p>
            <label>Потребление смолы, г/м2:</label>
            <input type="text" name="smola">
        </p>

        <p>
            <label>Угол нашивки, град:</label>
            <input type="text" name="ugol_nash">
        </p>

        <p>
            <label>Шаг нашивки:</label>
            <input type="text" name="shag_nash">
        </p>
        <p>
            <label>Плотность нашивки:</label>
            <input type="text" name="plot_nash">
        </p>


        <p>
            <input type="submit">
        </p>
        <div>
            <p>
                {% if message %}
                {{message}}
                {% endif %}
            </p>
        </div>


    </form>


</body>
</html>